html, body {
    height: 100%;
    margin: 0;
}
.left, .right {
    float: left;
    height: 100%;
    outline: 1px solid;
}
.left {
    width: 80%;
}
.right {
    width: 20%;
}

#content {
    width: 100%;
    height: 100%;
}